@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: "Courier";
    color: #222;
}

.lead {
    text-align: left;
    text-indent: 5rem;
}
.navbar {
    padding: .8rems;
}
.navrbar-nav li {
    padding-right: 20px;
    word-spacing: 1px;
}
.nav-links {
    font-size: 1.1em !important;
}

.carousel-inner img {
    width: 70%;
    margin-left: 5rem;
}
.inner-item {
    text-align: center;
}

.display-4, .jumbotron {
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    
}
footer a {
    color: #d5d5d5;
}


/*------ table of contents + container with coivd19-----*/
.top-container {
    width: 100%;
}

.toc-container {
    border-left: 2px solid darkgray;
    display: table;
    width: 20%;
    float: right;
    padding-top: 2rem;
}
.toc-title {
    font-weight: 700;
    text-align: center;
}
.toc-container li, .toc-container ul, .toc-container ul li{
    list-style: outside none none !important;
}
/*---- game -----*/

.game-container {
padding: 2rem;
margin-left: 12rem;
}

.tab {
    margin-left: 1rem;
}
/*----- Information -----*/

.information, .masks, .handwash, .disinfect, .isolation, .stress, .covid, .virus, .vaccine {
    padding: 2rem;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: left;
}

.source{
    text-align: right;
    font-size: small;
    color: lightgray;
}
.covid h3 {
    padding-top: 2rem;
}

/*----- Masks -----*/
.masks-img {
    width: 50%;
    margin: 0 auto;
}
.masks .grey-text {
    color: lightslategrey;
}

.hand-img {
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
}

/*----- Disinfect -----*/
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 0;
}
  
.grid-item {
    padding: 10px;
    text-align: left;
  }

.red{
    color: red;
}
.img-item{
    width: 60%;
    /*margin: 0 auto;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.info-list {
    list-style-type: square;
    color: black;
    font-size: large;
}
.info-list a:link{
    color: black;
}
.info-list a:visited{
    color: black;
}
.info-list a:hover{
    color: lightskyblue;
}

/*----- About Us -----*/

.about-section, .team {
    padding: 2rem;
    text-align: left;
}

/*----- Behind the Scenes -----*/
.content {
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0%;
    text-align: left;
}

/*---- image slide bar -----*/
.wrapper{
    text-align: center;
    width: 100%; 
    overflow-x:scroll;     
    white-space: nowrap;
}
.slide{
    display: inline-block;  
}
.Jamboard{
    padding-top: 2rem;
}

/*---- click to expand/hide image -----*/
#content, #content2, #content3, #content4, #content5, #content6, #content7{
    display: none;
}
#show:target #content, #show2:target #content2, #show3:target #content3, #show4:target #content4, #show5:target #content5, #show6:target #content6, #show7:target #content7{
    display: inline-block;
}
#show:target #open, #show2:target #open, #show3:target #open, #show4:target #open, #show5:target #open, #show6:target #open, #show7:target #open{
    display: none;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








